body {
  background-color : #F2F2F2;
  font-family      : 'Open Sans',
                     sans-serif;
}

/* Accordian Tabs */

.img {
  margin : 15px;
}

hr {
  width      : 80%;
  border     : none;
  border-top : 2px solid #D1D2D3;
}

.header-container {
  display          : flex;
  padding-top      : 20px;
  padding-bottom   : 20px;
  background-color : #3F3244;
  align-items      : center;
  justify-content  : space-between;
}

.header-title {
  margin-left : 65px;
  color       : #F2F2F2;
  font-size   : 20px;
  font-weight : 300;
}

.view-code-btn {
  display          : block;
  width            : 24%;
  height           : 49px;
  margin           : 46px auto;
  border           : none;
  background-color : #3F3244;
}

.view-code-link {
  color           : #FFF;
  text-decoration : none;
  text-transform  : uppercase;
  font-size       : 15px;
  font-weight     : 300;
}

.party {
  color : #34D1D1;
}

.student-name {
  margin-right : 50px;
  color        : #F2F2F2;
}

.acordian-title {
  display     : flex;
  margin-top  : 30px;
  margin-left : 40px;
}

.tab-header {
  margin-left : 20px;
  padding     : 5px;
  text-align  : left;
  font-weight : 600;
  font-weight : 600;
  /* border-bottom: 1px solid black; */
}

.tab-content {
  display    : inline-block;
  width      : 80%;
  margin-top : 13px;
}

.tabs {
  display           : -webkit-box;
  display           : -webkit-flex;
  display           : -ms-flexbox;
  display           : flex;
  width             : 95%;
  margin-top        : 50px;
  margin-right      : auto;
  margin-left       : auto;
  -ms-flex-wrap     : wrap;
  -webkit-flex-wrap : wrap;
  flex-wrap         : wrap;
}

.tabfour,
.tabone,
.tabthree,
.tabtwo {
  display          : flex;
  width            : 20%;
  color            : #666666;
  background-color : #D1D2D3;
  font-weight      : 300;
}

.tab-text {
  display        : flex;
  width          : 50;
  margin-top     : 50px;
  margin-left    : 25px;
  overflow-wrap  : break-word;
  text-align     : left;
  font-size      : 1.3em;
  font-weight    : 400;
  flex-direction : column;
  line-height    : 24px;
}

.tabs label {
  display            : flex;
  width              : 19%;
  margin-right       : 0.2rem;
  padding            : 1rem 2rem;
  background         : #D1D2D3;
  flex-direction     : column;
  order              : 1;
  -webkit-transition : background ease 0.2s;
  transition         : background ease 0.2s;
  cursor             : pointer;
}

.tabs .tab {
  display    : none;
  background : #F2F2F2;
  flex-grow  : 1;
  order      : 99;
}

.tabs input[type="radio"] {
  position : absolute;
  opacity  : 0;
}

.tabs input[type="radio"]:checked + label {
  color        : #666666;
  border-top   : .5px solid #D1D2D3;
  border-right : .5px solid #D1D2D3;
  border-left  : .5px solid #D1D2D3;
  background   : #F2F2F2;
  font-weight  : 600;
}

.tabs input[type="radio"]:checked + label + .tab {
  display : flex;
}

.tab {
  border     : .5px solid #D1D2D3;
  border-top : none;
}

.tab-wrap {
  width        : 80%;
  margin-right : auto;
  margin-left  : auto;
}

/* Flexile Cards */

.flexible-section-header{
  margin-top  : 30px;
  margin-left : 40px;
}

.flexible-cards {
  display: grid;
  grid-template-columns: 33% 15px 33% 15px 33%;
  grid-template-rows: auto 15px auto 15px auto;
  width: 80%;
  margin: 0 auto;
}

.card {
  border : 1px solid #D1D2D3;
}

.card-header {
  padding       : 20px;
  overflow      : hidden;
  border-bottom : 1px solid #D1D2D3;
  text-overflow : ellipsis;
  font-weight   : 600;
  white-space   : nowrap;
}

.card-image {
  background-image : url("https://images7.alphacoders.com/413/413380.jpg");
  background-size  : cover;
  height           : 200px;
}
.one {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.two {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.three {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.four {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.five {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}

.six {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.seven {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
}


/* Header */

.nav-header-section{
  margin-top  : 30px;
  margin-left : 40px;
}

.nav-header {
  display          : flex;
  width            : 85%;
  height           : 70px;
  margin           : 0 auto;
  background-color : #D1D2D3;
  align-items      : center;
  flex-wrap        : nowrap;
  justify-content  : space-around;
}

li input {
  height          : auto;
  padding         : 5px;
  border          : 1px solid #666666;
  background-size : 15px;
  text-indent     : 20px;
}

@media (max-width: 800px) {
  .tabs {
    display        : flex;
    width          : 80%;
    flex-direction : column;
  }

  .tab-wrap {
    display         : flex;
    width           : 100%;
    justify-content : center;
  }

  .tab-header {
    height          : 100px;
    text-align      : center;
    flex-direction  : column;
    justify-content : center;
  }

  .tabone {
    width : 100%;
  }

  .flexible-cards {
    display : block;
  }

  .card {
    margin : 20px 0px;
  }

  .flexible-section-header {
    text-align : center;
  }

  .nav-header .hide {
    display          : none;
    padding          : 10px;
    background-color : rgba(220, 220, 220, 0.98);
    text-align       : right;
  }

  .header-section {
    text-align : center;
  }
}
